<div>
  <%= flash[:notice] %>
</div>
<body>
  <h1 class = "headline" ><b>Editing Book</b></h1>
<%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>

<h4>Title</h4>
  <% if @book.errors.any? %>
    <% book_error = @book.errors.count %>
  <% if book_error == 1 %>
    <%= book_error %> error due to empty field.:
  <% else %>
    <%= book_error %> errors due to empty fields.:
    <% end %>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<p><%= f.submit 'Update Book' %></p>

<% end %>

<p><%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
</body>